

    
    
    .copyright {
        width: 100%;
    
        background-color: $colorTerciario;
        border:0 ;
        border-radius: 2px;
        .redes {
            img{
    
            width: 40px;
            
            margin: 10px;
            }
        }
        .textoFooter{
            font-size: 18px;
            color: $colorPricipal;
    
        }
    }
    
