form{
    
    .form-label{
        margin-top: 8px;
        font-size: 19px;
    }
    .botonesForm{
        border:0px ;
        border-radius: 5px;
        font-size: 18px;

    
    
        background-color: $colorSecundario
    }
        
    background-color: $colorPricipal;
    border-radius: 10px;
    
    

}

