form{
    .botonesForm{
        border:0px ;
        border-radius: 5px;

    
    
        background-color: $colorSecundario
    }
        
    background-color: $colorPricipal;
    border-radius: 10px;
    
    

}

