.navegador{
    background-color: $colorPricipal;
    
    .iconosNav {
        
        img{
            
            width: 30px;
            margin: 12px;
    
        }
        
    
    
    }
    

    
    
    
    
    
    .logoNav{
        img {
            width: 90px;
            margin: 12px;
            
        }

    }
    ul {
        li{
            a{
                text-decoration: none;
                color:$colorTerciario
            }

        
        }
            

        list-style: none;
        
    
    
    }
}




@media(max-width:992px){
    .iconosNav img{
        display: none;
    }
    
}
   
    
