.navegador{
    .iconosNav {
        img{
            width: 30px;
            margin: 12px;
    
        }
        
    
    
    }
    

    
    
    background-color: $colorPricipal;
    
    
    
    .logoNav{
        img {
            width: 56px;
            margin: 12px;
            
        }

    }
    ul {
        li{
            a{
                text-decoration: none;
                color:$colorTerciario
            }

        
        }
            

        list-style: none;
        
    
    
    }

    }

