@mixin tarjetaMotherT {
    font-size: 23px;
    
}



.contenedorTarjeta{
    .motherboardsTitulo{
        font-size: 27px;
    }
    

    .tarjeta{
        
        
        
    
        .tarjetaImg {
            margin: 5px;
            
            
        }
        
        .tarjetaDescrip{
            margin:10px ;
            font-size: 22px;
            
        }
        .btn{
            margin-bottom: 6px;
            margin-top: 6px;
            background-color: $colorSecundario;
            border-radius:3px;
            border: 0px;
            padding: 8px 12px;
            font-size: 18px;
            
        }
        
        .tarjetaTitulo{
            font-size: 23px;
        }
        
        
        display: flex;
        flex-direction: column;
        width: 250px;
        align-items: center;
        border: 1px  solid $colorTerciario ;  
        margin: 10px;
        padding: 6px;
        background-color: $colorPricipal;
        border-radius: 5px;
    justify-content: space-between;
    }
    .tarjetaMother{
        @extend .tarjeta;
        
        .TarjetaEncabezado{
            @include tarjetaMotherT;
        
        }
        .botonMother{
            background-color: map-get($map: $estilosbtn, $key:colorBoton );
            border: map-get($map: $estilosbtn , $key:bordes );
            border-radius: map-get($map:$estilosbtn , $key:redondeado );
            margin-bottom: map-get($map: $estilosbtn, $key:margenes );
            
            padding: map-get($map: $estilosbtn, $key:padin );
        }
        
        .tarjetaInfo{
            @extend .tarjetaDescrip;
        }
        
        .motherImg{
            @extend .tarjetaImg;
        }
    }
        
        
        
        
        
        
        
    
}
















