$colorPricipal:#FF337A;
$colorSecundario:#6EE39C;
$colorTerciario:#000;

$estilosbtn:(
        margenes:6px,
        colorBoton:$colorSecundario,
        redondeado:3px,
        bordes:0px,
        padin: 8px 12px,


);




