@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "bebas neue";
    box-sizing: border-box;
    
    
    
}
.tituloPricipal {
    font-size: 40px;

}
    
    
    
    
    
    



.copyright h5{

    font-size: 18px;
    
    color:#056CF2 ;
    

    
}

.colorFondo{
    background-color: #6EE39C;

}

.colorNav{

    /* width: 100%; */
    /* height: 80px; */
     background-color: #056CF2; 
    
} 

.navBar ul {

    list-style: none;
    


}



    


.navBar ul li a{
    text-decoration: none;
    color: #000;
}

.logoNav img {
    width: 56px;
    margin: 12px;
    
}  

.iconosNav img{
    width: 30px;
    margin: 12px;


}
.tarjeta{
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    align-items: center;
border: 1px  solid black ;  
margin: 10px;
padding: 6px;
background-color: #056CF2;
border-radius: 5px;

}
.tarjetaImg {
    margin: 5px;
    
    
}

.tarjetaDescrip{
    margin:10px ;
    
}
.btn{
    margin-bottom: 6px;
    background-color: #6EE39C;
    border-radius:3px;
    border: 0px;
    padding: 8px 12px;
}

.tarjetaTitulo{
font-size: 18px;
}

.contenedorTarjeta{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;

}
footer{
    width: 100%;
    
    background-color: #000;
    border:0 ;
    border-radius: 2px;
}


    




    
    
    
    

    


.buscarPorMarca h2 {

    font-size: 24px;
}

.img{
    display: flex;
    justify-content: center;
    width: 100%;
}






.redes img{

    width: 40px;
    
    margin: 10px;
}




.proximente{

    
    font-size: 24px;
    
}



.fomulario input{
    margin: 6px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #056CF2;
    

}

::placeholder{
    color: #000;
}

.fomulario textarea{
    
    
    margin: 6px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #056CF2;
    width: 900px;
    


}
.fomulario select{

    margin: 6px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #056CF2;

}




.reseñaTitulo{

    text-align: center;

}

.tituloRecompensas{
    
    text-align: center;
}


main{

    display: flex;
    flex-direction: column;
}
.videoReseña{
display: flex;
justify-content: center;
    
}

.videoReseña .video{
    
    margin:10px;
    border-radius: 6px;
border: #000 solid 4px;
padding: 2px;

    }

.fomulario{
display: flex;

flex-direction: column;

}

.camposPrincipales{
    
    display: flex;
    justify-content:space-around;
}

.botonesForm{
    display: flex;
    justify-content: center;
}
.campoConsulta{
    
    display: flex;
    justify-content: center;
}


